---
import Layout from '../layouts/Layout.astro'
---

<Layout>
<div class="max-w-6xl mx-auto px-4 py-12">

  <h1 class="text-4xl font-extrabold mb-10">Categories</h1>

  <div class="grid md:grid-cols-3 gap-8">

    <!-- Categoría 01 -->
    <div class="flex gap-6">
      <span class="text-3xl font-extrabold text-Soft-orange">01</span>
      <div>
        <a href="/trending">
            <h2 class="font-bold text-lg mb-2">Tecnología</h2>
        </a>
        <p class="text-gray-600 text-sm">
          Noticias, avances y análisis sobre innovación digital.
        </p>
      </div>
    </div>
    <div class="flex gap-6">
      <span class="text-3xl font-extrabold text-Soft-orange">02</span>
      <div>
        <a href="/popular"><h2 class="font-bold text-lg mb-2">Gaming</h2></a>
        <p class="text-gray-600 text-sm">
          Tendencias, consolas, esports y más.
        </p>
      </div>
    </div>

    
    <div class="flex gap-6">
      <span class="text-3xl font-extrabold text-Soft-orange">03</span>
      <div>
        <a href="/new"><h2 class="font-bold text-lg mb-2">Móviles</h2></a>
        <p class="text-gray-600 text-sm">
          Novedades, comparativas y guías de smartphones.
        </p>
      </div>
    </div>


    <div class="flex gap-6">
      <span class="text-3xl font-extrabold text-Soft-orange">04</span>
      <div>
        <a href="/trending"><h2 class="font-bold text-lg mb-2">Web 3.0</h2></a>
        <p class="text-gray-600 text-sm">
          La evolución descentralizada del internet.
        </p>
      </div>
    </div>
    <div class="flex gap-6">
      <span class="text-3xl font-extrabold text-Soft-orange">05</span>
      <div>
        <h2 class="font-bold text-lg mb-2">Innovación</h2>
        <p class="text-gray-600 text-sm">
          Ideas, proyectos y el futuro tecnológico.
        </p>
      </div>
    </div>

    <div class="flex gap-6">
      <span class="text-3xl font-extrabold text-Soft-orange">06</span>
      <div>
        <a href="/trending"><h2 class="font-bold text-lg mb-2">Micro-Mobility</h2></a>
        <p class="text-gray-600 text-sm">
          Nuevas formas de transporte urbano sostenible.
        </p>
      </div>
    </div>
  </div>
</div>
</Layout>